:root {
  --default-white: #fff;
  --default-black: #181818;
  --bg-header-color: #dddddf;
  --blue-buttons-default: #5320e0;
  --blue-buttons-dark: #2b1172;
  --bg-section-color: #faa352da;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
