@import '../index.css';

.dashboard {
  margin: auto;
  text-align: center;
}

.dashboard-container {
  margin: 20px;
}

.dashboard-container h2 {
  margin-bottom: 20px;
}

.dashboard-container nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard-container nav ul li {
  margin-bottom: 10px;
}

.dashboard-container nav ul li a {
  text-decoration: none;
  color: var(--blue-buttons-default);
}

.dashboard-container nav ul li a:hover {
  text-decoration: underline;
}
